.timeLine{
    display: block;
    flex-direction: column;
    padding: 1rem;
    width: fit-content;
    height: 100%;
    box-sizing: border-box;
    /* cursor: ew-resize; */
    & > canvas{
        &.massBar{
            height: 40%;
            cursor: not-allowed;
            &.editable{
                cursor: grab;
            }
            &.editting{
                cursor: grabbing;
            }
        }
        &.slowBar{
            height: 30%;
        }
        &.musicBar{
            height: 30%;
            cursor: not-allowed;
            &.editable{
                cursor: grab;
            }
            &.editting{
                cursor: grabbing;
            }
        }
    }
}