.scenePage{
    & > .scenesElem {
        display: flex;
        flex-wrap: wrap;
    }
    & > header{
        cursor: default;
        &:hover{
            color: rgb(96, 210, 255);
        }
    }
}
.sceneUnit {
    &.moving{
        & > canvas {
            opacity: 0.5;
        }
    }
    &.hovering{
        border: #888 3px solid;
        @media (prefers-color-scheme: dark){
            border: #fff 3px solid;
        }
    }
}