.rightPanel{
    grid-area: rightPanel;
    border-left: 1px solid #888;
    padding: 1em;
    overflow-y: scroll;
    &::-webkit-scrollbar{width: 0px;}
    
    & > .titleArea{
        position: relative;
        & .rootBackBtn{
            background-color: rgba(0,0,0,0);
            box-shadow: none;
            font-size: 2rem;
            padding: 0px;
            border: none;
            &:hover{
                color: #396cd8;
            }
            &:focus{
                color: #00a2ff;
            }
        }
        & .helpBtn {
            position: absolute;
            width: 1.2em;
            height: 1.2em;
            text-align: center;
            padding: 0px;
            border: 1px solid #000;
            @media (prefers-color-scheme: dark) {
                border: 1px solid #fff;
            }
            border-radius: 1em;
            background-color: rgba(0,0,0,0);
            right: 0px;
            bottom: 2px;
            margin: auto 0px;
        }
        & > p{
            display: inline-block;
            margin: 0px;
            margin-left: 1em;
        }
    }
    & > .windows{
        border-top: 1px #888 solid;
        padding-top: 1rem;
        height: 100%;
        width: 100%;
        & button{
            margin: 0.3rem;
            border-width: 2px;
            &:focus{
                border-color: #00a2ff;
            }
        }
        & > div{
            height: 100%;
            width: 100%;
        }
    }
}